 /* CSS styles */
        body {
            background-color: #3d7537; /* Dark green background */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #menu {
            background-color: #1d451b; /* Darker green menu background */
            color: #fff; /* White text color */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100; /* Make it appear above other content */
            padding-top: 10px; /* Adjust top padding */
        }

        #menu h2 {
            font-size: 2rem;

        }

        #menu ul {
            list-style: none;
            padding: 0;
            display: flex; /* Display menu items horizontally */
            justify-content: space-around; /* Space them evenly */
            align-items: center; /* Center items vertically */
            padding-top: 10px; /* Adjust top padding */
        }

        #menu li {
            margin-bottom: 10px;
        }

        #menu a {
            color: #fff; /* White text color for menu items */
            text-decoration: none;
            font-size: 1.3rem; /* Larger font size */
            font-weight: bold; /* Bold text */
        }

        #menu a:hover {
            text-decoration: underline;
        }

        #content {
            margin-top: 150px; /* Adjust margin to align with Main Page */
            padding: 20px;
        }

        /* Add more custom styles here */

        /* Modern button style */
        .button {
            background-color: #1d451b; /* Darker green */
            color: #fff; /* White text color */
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
        }

        .button:hover {
            background-color: #3d7537; /* Dark green on hover */
        }

        /* Sticky menu on scroll */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        /* Background with white color */
        #background {
            background-color: #F5F4E9; /* Light gray background */
            color: #000; /* Black font color */
            padding: 20px;
            overflow-y: scroll;
            height: 100vh; /* Make it fill the viewport height */
            width: 70%; /* Even narrower width */
            margin: 0 auto; /* Centered */
        }
        
        #map {
          height: 800px;
          width: 100%;
        }